<html>
<head>
<body>
<center>
<span style="font-size: 24pt;">
<h3>Accessibility statement</h3>
</span>
</center>

<style>

body {
  background-image: url('Clear.jpg');
}
</style>

<h1>Accessibility Statement for COVID Tracking Project Website</h1>
<p>The COVID Tracking Project is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>
<br>
<h1>Conformance status</h1>
<p>The Web Content Accessibility Guidelines (WCAG) defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. The COVID Tracking Project website is fully conformant with WCAG 2.1 level AA. Fully conformant means that the content fully conforms to the accessibility standard without any exceptions.</p>
<br>

<h1>Technical specifications</h1>
<p>Accessibility of the website relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>

<ul>HTML</ul>
<ul>NODE.JS</ul>
<ul>CSS</ul>
<ul>JavaScript</ul>


<p>These technologies are relied upon for conformance with the accessibility standards used.</p>

<br>
<h1>Limitations and alternatives</h1>
<p>Despite our best efforts to ensure accessibility of the website, there may be some limitations. Below is a description of known limitations, and potential solutions. Please contact us if you observe an issue not listed below.</p>
<li>
<ul>
<p>Some charts and graphs tell a story that is not fully accessible to non-sighted users. In these cases, we try to provide a brief citation that describes the chart, and links to the raw data used to generate it.</p>
</ul>
</li>

</body>
</head>
</html>